body {
    margin: 0 15px;
    background-color: black;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 2fr 3fr;
    gap: 5px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    grid-column: 1/4;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
}

#logo {
    width: 70px;
    height: 70px;
}

.enlaces {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.box2 {
    grid-column: 4/6;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.logos {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.titulos {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    color: white;
    font-style: normal;
}

.imagenes {
    width: 100%;
}

.box3 {
    grid-column: 1/6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.box15 {
    grid-column: 1/6;
}